<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogadores</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 5px 0;
    }
    form {
      margin-top: 20px;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input, button {
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <h1>Lista de Jogadores</h1>
  <ul>
    {% for player in players %}
      <li>id: {{ player.id }} - {{ player.name }} R${{ player.initial_price }} 
        <a href="{% url 'edit' id=player.id %}">Editar</a>
        <a href="{% url 'delete' id=player.id %}">Deletar</a>
      </li>
    {% endfor %}
  </ul>

  <form method="POST" action="{% url 'save' %}">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome">
    <label for="preco">Preço:</label>
    <input type="text" id="preco" name="preco">
    <button type="submit">Salvar</button>
  </form>
</body>
</html>