<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogadores</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 5px 0;
    }
    form {
      margin-top: 20px;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input, button {
      margin-top: 5px;
    }
  </style>
</head>
<body>

  {{ player.id }} - {{ player.name }} - R${{ player.initial_price }}

  <form method="POST" action="{% url 'update' id=player.id %}">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{player.name}}">
    <label for="preco">Preço:</label>
    <input type="text" id="preco" name="preco" value="{{player.initial_price}}">
    <button type="submit">Atualizar</button>
  </form>
</body>
</html>